@use "./variables" as v;

.about-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -24.6vh;
  width: 100vw;
  height: 100vh;
  background-color: v.$bg;
  font-family: v.$fontRB;
  z-index: 2;

  .about-bg-container {
    position: relative;
    top: 0;
    width: 50vw;
    height: 100vh;
    // z-index: 1;

    img {
      position: relative;
      top: 24vh;
      width: 20vw;
      height: auto;
      // z-index: 1;
    }
  }

  .about-content {
    // padding: 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 2em;
    width: 50vw;
    height: auto;
    top: 28vh;

    .about-content-main {
      z-index: 5;

      .about-content-heading {
        display: flex;
        flex-direction: column;

        h1 {
          font-family: v.$fontASB;
          font-size: 7.5rem;
          color: v.$textTeal;

          span {
            position: relative;
            top: -0.3em;
            color: v.$dark;
          }
        }
      }

      .about-content-text {
        position: relative;
        display: flex;
        font-family: v.$fontRM;
        width: 33em;

        p {
          font-size: 1.1em;
          color: v.$dark;

          span {
            font-family: v.$fontREBI;
            font-style: italic;
          }

          svg {
            padding: 10px 0 0 17px;
            width: 4em;
          }
        }
      }
      .about-scroll-arrow {
        position: absolute;
        top: 55vh;
        right: 5vw;

        svg {
          width: 3.5em;
          height: auto;
        }
      }
    }

    .about-percent-section {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      top: 30vh;
      gap: 8em;

      svg {
        width: 6em;
        height: auto;
      }

      .about-percent-one,
      .about-percent-two,
      .about-percent-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 8em;
        gap: 1em;

        p {
          text-align: center;
          font-family: v.$fontRM;
          color: v.$dark;
        }

        span {
          font-family: v.$fontRB;
        }
      }
    }

    .about-window-section {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      gap: 2em;
      top: 28.1vh;
      width: 100vw;
      height: 100vh;
      border-radius: 1000px 1000px 0 0;
      z-index: 5;

      .about-window-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        width: 25vw;
        height: 100vh;
        border-radius: 1000px 1000px 0 0;
        overflow: hidden;
        z-index: 5;

        img {
          position: relative;
          object-position: center;
          width: 100%;
          height: 100%;
          z-index: 5;
        }
      }
    }
    .about-window-text {
      position: relative;
      width: 45vw;
      top: 7vh;
      z-index: 6;
      text-align: center;
      font-family: v.$fontRM;
      color: v.$dark;
      font-size: 1em;
    }
  }

  .about-watermark-container {
    position: fixed;
    z-index: 15;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4vw;
    bottom: 6vh;
    fill: v.$dark;

    svg {
      width: 100px;
      height: 100px;

      &:nth-of-type(1) {
        width: 40px;
        height: 40px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;

        animation: rotate 40s linear infinite forwards;

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

.solution-section {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: v.$dark;
  // top: -23.2vh;
  z-index: 6;

  .solution-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    // opacity: 0;

    .solution-heading {
      width: 50vw;
      display: flex;
      flex-direction: column;
      color: v.$bg;
      gap: 1em;
      padding: 0 100px;

      h1 {
        font-family: v.$fontASB;
        font-size: 7em;

        span {
          position: relative;
          top: -40px;
        }
      }

      h2 {
        font-family: v.$fontRR;
        font-size: 1.3em;
      }

      p {
        font-family: v.$fontRM;
        font-size: 1em;
        padding-right: 200px;
      }
    }

    .solution-bg-container {
      width: 50vw;
      overflow: hidden;

      img {
        position: relative;
        top: 3px;
        height: 100vh;
        width: 50vw;
        object-fit: cover;
      }
    }

    .solution-impact-logo {
      position: absolute;
      right: -0.6vw;
      z-index: 2;

      svg {
        width: 45em;
        height: auto;
      }
    }
  }

  .solution-side-scroll-main {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 166.66vw;
    height: 100vh;
    background-color: v.$textTeal;

    svg {
      width: 15px;
      height: 80vh;
      z-index: 2;
    }

    .solution-scroll-one,
    .solution-scroll-two,
    .solution-scroll-three,
    .solution-scroll-four,
    .solution-scroll-five {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      gap: 2em;
      width: 33.33vw;
      padding: 0 100px 70px 80px;

      h1 {
        font-family: v.$fontAM;
        color: v.$light;
        font-size: 5em;
      }

      h2 {
        font-family: v.$fontRR;
        color: v.$light;
        font-size: 1em;
      }

      p {
        font-family: v.$fontRL;
        color: v.$light;
        font-size: 0.9em;
      }
    }
  }
}

.founders-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 80vh;
  gap: 3em;
  margin-top: 20vh;

  h1 {
    font-family: v.$fontAM;
    color: v.$textTeal;
    font-size: 7em;
    font-weight: 100;
  }

  .founders-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;

    .founders-one,
    .founders-two,
    .founders-three {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;

      h2 {
        font-family: v.$fontRB;
      }

      h3 {
        font-family: v.$fontRI;
        font-weight: 100;
        position: relative;
        top: -0.6em;
      }

      .founders-one-header {
        svg {
          position: absolute;
          width: 18vw;
          height: auto;
          margin-left: -9.1vw;
          margin-top: -2.5vh;
        }
      }
      .founders-two-header {
        svg {
          position: absolute;
          width: 18vw;
          height: auto;
          margin-left: -9.1vw;
          margin-top: -2.5vh;
        }
      }

      .founders-three-header {
        svg {
          position: absolute;
          width: 18vw;
          height: auto;
          margin-left: -9.2vw;
          margin-top: -2.5vh;
        }
      }

      .founders-img-container {
        width: 15vw;
        height: 37vh;
        border-radius: 1000px;
        overflow: hidden;
      }

      .founders-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.8em;

        svg {
          // top: 0;
          width: 1.4em;
          height: auto;
        }
      }
    }

    .founders-one {
      .founders-img-container {
        img {
          position: relative;
          object-fit: cover;
          width: 32vw;
          height: auto;
          left: -120px;
          top: -80px;
        }
      }
    }

    .founders-two {
      .founders-img-container {
        img {
          position: relative;
          object-fit: cover;
          width: 44vw;
          height: auto;
          left: -275px;
          top: -180px;
        }
      }
    }

    .founders-three {
      .founders-img-container {
        img {
          position: relative;
          object-fit: cover;
          width: 30vw;
          height: auto;
          left: -170px;
          top: 0px;
        }
      }
    }
  }
}

.sustain-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: v.$bg;
  overflow: hidden;
  margin-top: 10vh;

  .sustain-circular-text-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;

    svg {
      width: 100vw;
      height: auto;
      z-index: 0;

      animation: rotate 40s linear infinite forwards;

      @keyframes rotate {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  .sustain-main {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 2.2em;
    top: 16vh;

    .sustain-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      // top: 7em;

      h1 {
        position: relative;
        font-family: v.$fontAM;
        font-size: 8em;
        color: v.$textBrown;
        font-weight: 100;
        top: -0.3em;
      }

      h2 {
        font-family: v.$fontAM;
        font-size: 5em;
        color: v.$dark;
        font-weight: 100;
      }

      h3 {
        font-family: v.$fontRL;
        font-size: 1.8em;
        color: v.$dark;
        font-weight: 100;
      }
    }

    .sustain-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // padding: 0 34em;
      width: 30vw;
      height: auto;
      position: relative;
      top: -4em;

      p {
        text-align: center;
        font-family: v.$fontRM;
      }
    }

    button {
      display: flex;
      text-align: left;
      background-color: v.$textTeal;
      width: fit-content;
      padding: 10px 10px 10px 30px;
      gap: 1em;
      border-radius: 2em;
      position: relative;
      top: -4em;

      h3 {
        font-family: RALEWAY-LIGHT;
        font-size: 1.2em;
        font-weight: 300;
        color: white;
      }

      svg {
        width: 1.8em;
        padding-right: 5px;
      }
    }
  }
}
