@use "./variables" as v;

.article-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;

  .article-watermark-container {
    position: fixed;
    z-index: 3;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 3vw;
    bottom: 5vh;
    fill: v.$textBrown;

    svg {
      width: 100px;
      height: 100px;

      &:nth-of-type(1) {
        width: 40px;
        height: 40px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;

        animation: rotate 40s linear infinite forwards;

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0 0 15vh 0;

    .article-img-container {
      img {
        // width: 50vw;
        height: 50vh;
        object-fit: contain;
      }
    }

    .article-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      width: 45vw;
      gap: 2em;

      .article-heading {
        display: flex;
        flex-direction: column;

        h1 {
          font-family: v.$fontASB;
          color: v.$textTeal;
          font-size: 6em;
        }

        h2 {
          font-family: v.$fontRM;
          font-size: 1em;
          font-weight: 100;
        }
      }

      .article-description {
        display: flex;
        flex-direction: column;

        h2 {
          font-family: v.$fontRB;
          color: v.$dark;
          font-size: 1.5em;
        }
      }

      .article-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;

        p {
          font-family: v.$fontRM;
          color: v.$dark;
        }
      }
    }
  }

  .article-newsletter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    h1 {
      font-family: v.$fontASB;
      font-size: 6em;
      color: v.$textTeal;
      font-weight: 100;
    }

    .newsletter-container {
      margin-top: -13vh;
    }
  }
}
