@use "./variables" as v;

.contact-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -180px;
  width: 100vw;
  z-index: 2;

  .contact-bg-container {
    position: relative;
    width: 50vw;
    height: 100vh;
    z-index: 1;

    img {
      width: 10vw;
      height: auto;
      z-index: 1;
    }
  }

  .contact-details {
    padding: 0 6em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 50vw;
    height: 100vh;
    justify-content: center;

    h1 {
      font-size: 8rem;
      font-family: v.$fontASB;
      font-weight: 900;
      color: v.$textTeal;
    }

    .contact-options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2.5em;
      padding: 7em 1em 0em 1em;
      height: 37vh;
      overflow-y: scroll;

      svg {
        width: 1em;
        height: auto;
      }

      .contact-options-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3.2em;
        padding: 1em 0em 1em 0em;
        height: 45vh;
        margin-top: 170px;

        a {
          font-family: v.$fontRM;
          text-transform: lowercase;
          font-weight: 100;
        }

        .contact-phone,
        .contact-mail,
        .contact-insta {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 0.8em;
        }

        .contact-phone {
          display: flex;
          justify-content: space-between;
          width: 30vw;

          .contact-phone-left {
            display: flex;
            gap: 2em;

            svg {
              width: 1.8em;
              height: auto;
            }
          }

          .contact-right {
            svg {
              height: auto;
              width: 1em;
            }
          }
        }

        .contact-mail {
          display: flex;
          justify-content: space-between;
          width: 36em;

          .contact-mail-left {
            display: flex;
            gap: 2em;

            svg {
              width: 2.4em;
              height: auto;
              margin-left: -2px;
            }
          }

          .contact-right {
            svg {
              height: auto;
              width: 1em;
            }
          }
        }

        .contact-insta {
          display: flex;
          justify-content: space-between;
          width: 36em;
          .contact-insta-left {
            display: flex;
            gap: 2em;

            svg {
              width: 2.3em;
              height: auto;
              margin-left: 0px;
            }
          }

          .contact-right {
            svg {
              height: auto;
              width: 1em;
            }
          }
        }
      }
    }
  }

  .contact-newsletter {
    padding: 1em 0em 2em 0.5em;
    margin-left: -1em;

    .contact-newsletter-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      font-family: v.$fontRM;

      .name {
        display: flex;
        gap: 2em;

        input {
          width: 12.18em;
          font-size: 1em;
          color: #1a1a1a;
          padding: 1em 1em;
          border-width: 2px;
          border-style: solid;
          border-color: v.$bordercolor;
        }
      }

      input {
        width: 26.35em;
        font-size: 1em;
        color: #1a1a1a;
        padding: 1em 1em;
        border-width: 2px;
        border-style: solid;
        border-color: v.$bordercolor;
        background-color: v.$bg;
      }

      button {
        align-items: center;
        display: flex;
        gap: 1.8em;
        width: 24.5em;
        padding: 0.3em 0.3em 0.3em 2.6em;
        border-radius: 1.6em;
        border-style: solid;
        border-width: 2px;
        border-color: v.$bordercolor;

        h3 {
          font-family: v.$fontRL;
          font-weight: 500;
          font-size: 1.41em;
        }

        svg {
          width: 3.5em;
          height: auto;
        }
      }
    }
  }
}
