@use "./variables" as v;

.refund-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 0 27vw 7vh 27vw;
  gap: 2em;

  .refund-watermark-container {
    position: fixed;
    z-index: 1;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5vw;
    bottom: 7vh;
    fill: v.$textBrown;

    svg {
      width: 100px;
      height: 100px;

      &:nth-of-type(1) {
        width: 40px;
        height: 40px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;

        animation: rotate 40s linear infinite forwards;

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .refund-heading {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h1 {
      font-family: v.$fontASB;
      color: v.$textTeal;
      font-size: 6em;
    }

    p {
      font-family: v.$fontRM;
      font-weight: 100;
      font-size: 0.95em;
    }
  }

  .refund-content-section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .refund-content {
      display: flex;
      flex-direction: column;
      gap: 1em;

      h2 {
        font-family: v.$fontRB;
        font-size: 1.3em;
      }

      p {
        font-family: v.$fontRM;
        font-size: 0.95em;
      }
    }
  }

  .refund-updated {
    p {
      font-family: v.$fontRM;
    }
  }
}
