@use "./variables" as v;

.refund-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 0 2vw 7vh 27vw;
  gap: 2em;

  .refund-watermark-container {
    position: fixed;
    z-index: 1;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5vw;
    bottom: 7vh;
    fill: v.$textBrown;

    svg {
      width: 100px;
      height: 100px;

      &:nth-of-type(1) {
        width: 40px;
        height: 40px;
      }

      &:nth-of-type(2) {
        position: absolute;
        top: 0;
        left: 0;

        animation: rotate 40s linear infinite forwards;

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .refund-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .refund-heading {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h1 {
        font-family: v.$fontASB;
        color: v.$textTeal;
        font-size: 6em;
      }

      .refund-description {
        font-family: v.$fontRM;
        font-weight: 100;
        font-size: 0.95em;
      }
    }

    .refund-content-section {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .refund-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-family: v.$fontRB;

        p {
          font-size: 0.95em;
          font-family: v.$fontRM;
        }
      }
    }
  }
}

//*----------> largeMobile
@media screen and (min-width: 319px) and (max-width: 799px) {
  .refund-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 10vw 5vh 10vw;
    gap: 2em;

    .refund-watermark-container {
      position: fixed;
      z-index: 1;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 5vw;
      bottom: 7vh;
      fill: v.$textBrown;

      svg {
        display: none;
        width: 100px;
        height: 100px;

        &:nth-of-type(1) {
          width: 40px;
          height: 40px;
        }

        &:nth-of-type(2) {
          position: absolute;
          top: 0;
          left: 0;

          animation: rotate 40s linear infinite forwards;

          @keyframes rotate {
            0% {
              transform: rotate(0);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    .refund-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .refund-heading {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          font-family: v.$fontASB;
          color: v.$textTeal;
          font-size: 4rem;
        }

        .refund-description {
          font-family: v.$fontRM;
          font-weight: 100;
          font-size: 0.85em;
        }
      }

      .refund-content-section {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .refund-content {
          display: flex;
          flex-direction: column;
          gap: 1em;
          font-family: v.$fontRB;

          p {
            font-family: v.$fontRM;
            font-size: 0.85em;
          }
        }
      }
    }
  }
}

//*----------> Tablets
@media screen and (min-width: 800px) and (max-width: 1076px) {
  .refund-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 10vw 5vh 10vw;
    gap: 2em;

    .refund-watermark-container {
      position: fixed;
      z-index: 1;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 5vw;
      bottom: 3vh;
      fill: v.$textBrown;

      svg {
        display: none;
        width: 100px;
        height: 100px;

        &:nth-of-type(1) {
          width: 40px;
          height: 40px;
        }

        &:nth-of-type(2) {
          position: absolute;
          top: 0;
          left: 0;

          animation: rotate 40s linear infinite forwards;

          @keyframes rotate {
            0% {
              transform: rotate(0);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    .refund-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .refund-heading {
        display: flex;
        flex-direction: column;
        gap: 1em;

        h1 {
          font-family: v.$fontASB;
          color: v.$textTeal;
          font-size: 6rem;
        }

        .refund-description {
          font-family: v.$fontRM;
          font-weight: 100;
          font-size: 0.95rem;
        }
      }

      .refund-content-section {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .refund-content {
          display: flex;
          flex-direction: column;
          gap: 1em;
          font-family: v.$fontRB;
          font-size: 1.3rem;

          p {
            font-family: v.$fontRM;
            font-size: 0.95rem;
          }
        }
      }
    }
  }
}
